<header class="navbar">
  <div class="navbar__container">

    <a class="navbar__brand" routerLink="/home">
      Francisco Naifa
    </a>

    <nav class="navbar__links">
      @for (link of links; track link.route) {
        <a [routerLink]="link.route" routerLinkActive="navbar__link--active" class="navbar__link">
          {{ link.label }}
        </a>
      }
    </nav>

    <p-button
      class="navbar__hamburger"
      icon="pi pi-bars"
      [text]="true"
      (onClick)="toggleMenu()"
    />

  </div>
</header>

<p-drawer [(visible)]="menuOpen" header="Menu" position="right">
  <nav class="navbar__drawer-links">
    @for (link of links; track link.route) {
      <a [routerLink]="link.route" routerLinkActive="navbar__link--active" class="navbar__drawer-link" (click)="closeMenu()">
        {{ link.label }}
      </a>
    }
  </nav>
</p-drawer>