.card-area-badge {
  padding: 1rem 1rem 0;
}

.card-meta {
  display: flex;
  gap: 1rem;
  color: var(--p-text-muted-color);
  font-size: 0.875rem;

  span {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}
:host ::ng-deep .p-card-title {
  text-transform: capitalize;
  font-size: 1rem;
}